table {
    border: none !important;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

tbody tr {
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}

th {
    padding: 15px 8px 13px;
    line-height: 26px;
    vertical-align: middle;
    border-bottom: 1px solid #d8d8d8;
}

th>span {
    padding-left: 5px;
    cursor: pointer;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40px;
    vertical-align: middle !important;
}

tbody {
    display: block;
    max-height: 380px;
    overflow: auto;
}

table tbody tr td {
    border-top: none !important;
    border-bottom: 1px solid #d8d8d8;
}

.image-column img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.action-column {
    width: 65px;
    text-align: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.command-column .btn-link {
    padding: 0;
}

.command-column .btn-link:hover {
    text-decoration: none;
}

.btn-primary {
    margin-bottom: 16px;
}

.btn--icon {
    font-size: 1.25rem;
    background: transparent !important;
}

.btn--icon:hover {
    background-color: var(--c-gray1) !important;
}

.btn-hover-primary:hover {
    color: var(--c-primary) !important;
}

.btn-hover-danger:hover {
    color: var(--c-danger) !important;
}

.form-group {
    display: flex;
}

.input-group {
    flex: auto;
    margin-left: 8PX;
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
    z-index: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.text-primary {
    color: var(--c-primary);
}