:root {
    --iconsTheme: #FF9500;
    --backgroundColorTheme: #F9FCFC;
}

.color-icons-theme {
    color: var(--iconsTheme) !important;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 1.6rem;
    padding: 1.2rem 1.6rem;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0.4rem;
}

.search-input {
    width: 100%;
    margin: 0 1.2rem;
    border: none;
    color: var(--bf-theme-body-text);
}

.search-input::placeholder {
    color: var(--bf-theme-body-text);
}

#widget {
    overflow-y: auto;
    max-height: 100vh;
    background-color: var(--backgroundColorTheme);
}

#description {
    padding: 0.6rem 1.6rem;
    min-height: 18rem;
}

#items-list-view.listViewContainer {
    padding-top: 3rem;
    max-height: unset;
}

#items-list-view .listViewItem {
    padding: 0.6rem 1.6rem;
}

#items-list-view .listViewItem:first-child {
    padding-top: 0;
}

#items-list-view .listViewItem:last-child {
    padding-bottom: 0;
}

#items-list-view .listViewItemImg {
    width: 4rem;
    height: 4rem;
    border-radius: 0.4rem;
}

#items-list-view .listViewItemTitle {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--bf-theme-header-text);
}

#items-list-view .listViewItemSubtitle {
    margin: 0;
    font-size: 1.4rem;
    color: var(--bf-theme-body-text);
}