
*{
    font-family: 'Roboto';
}
.widgetContainer{
    background: #F9FCFC;
}
.search-Container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 0.563rem 0.5rem 0.563rem 0.75rem;
    border: 0.063rem solid gray;
    background: #F9FCFC;
    box-shadow: 0rem 0rem 0.125rem rgb(0 0 0 / 25%), 0rem 0.063rem 0.125rem rgb(0 0 0 / 16%);
    border-radius: 0.25rem;
}

.search-Container input {
    position: static;
    width: 80%;
    height: 1.25rem;
    left: 2rem;
    top: 0.125rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 0.031rem;
    color: #838383;
    flex: none;
    border: none;
    margin: 0rem 0.313rem;
    margin-top: auto;
    background-color: #0000;
}

.search-Container span {
    width: 1.094rem;
    border-radius: 0rem;
    color: #FF9500;
    font-weight: bold;
    margin-top: 0.125rem;
    line-height: 1.25rem;
    height: 1.25rem;
    font-size: 1.063rem !important;
}
.search-Container span:hover{
    cursor: pointer;
}
.itemsContainer {
    position: relative;
}
#introduction-Desc{
    height: 11.313rem;
    padding: 1rem;
    overflow: auto;
}
.rowItem{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition:0.25s;
    align-items: stretch;
}
.rowItem:hover{
    background-color: #e5f1f18b;
    cursor: pointer;
    transition:0.25s;
}
.leftSection{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* padding: 0.5rem; */
    
    position: static;
    width: 2.5rem;
    height: 2.5rem;
    left: 1rem;
    top: 0.813rem;
    
    /* transparent gray - hardcoded */
    
    background: rgba(150, 150, 150, 0.1);
    border-radius: 0.25rem;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0rem 0.75rem 0rem 0rem;
}
.leftSection img{
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}
.rightSection{
    width: auto;
    display: flex;
    flex-direction: column;
}
.titleSpan{
    font-weight: bold;
    color: black;
    font-size: 1rem;
    height: 1.25rem;
    max-width: 13.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subTitleSpan{
    height: 1.25rem;
    font-size:0.875rem;
    max-width: 13.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#clearIcon{
    display: none;
}

#loadMoreDiv{
    text-align: center;
    margin: 2rem;
    color: var(--bs-danger);
    font-weight: bold;
    font-size: 0.75rem;
}

#loading-Widget,
#loading-Item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

#loading-Widget img,
#loading-Item img {
    width: 100%;
    z-index: 10;
}