html,
body {
    font-family: 'Conv_apercu_regular';
}

.empty-state-lg {
    flex-direction: column;
}

.empty-state-description {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;

    display: flex;
    align-items: center;
    text-align: center;

    color: var(--c-gray5);
}

.image-picker .labels {
    display: none;
}

.image-picker .col-md-9 {
    width: 100% !important;
}

.image-picker .screens .screen label.secondary,
.screen label.secondary {
    text-align: left;
}

.image-picker.aspect-1-1 .screens .screen {
    aspect-ratio: 1;
    width: 6rem;
    max-width: 6rem;
    height: 6rem;
}

.image-picker.aspect-16-9 .screens .screen {
    width: 10.625rem;
    max-width: 10.625rem;
    height: 6rem;
}

.image-picker.aspect-16-9 .screens .screen a span.add-icon {
    top: -0.625rem;
}

.image-picker.aspect-16-9 .screens .screen label.secondary {
    line-height: 1.375rem;
}

.image-picker.aspect-1-1 .screens .screen a,
.image-picker.aspect-16-9 .screens .screen a {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.image-picker.aspect-1-1 .screens .screen a img,
.image-picker.aspect-16-9 .screens .screen a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: baseline;
}

.text-error {
    font-size: 0.75rem;
    margin-bottom: 0;
    height: 1.25rem;
}