

.cardBtn{
    padding: 0;
}
.cardBtnSpan{
    font-size: 1.75rem;
    margin: -0.8rem;
}

.cardBtn:hover{
    color:var(--bf-theme-icons);
    background-color:var(--c-gray2);
}

h4::before{
    display: block;
    content: '';
    height: 0.25rem;
    width: 3.5rem;
    margin-bottom: 0.875rem;
    background-color: var(--c-info);
}

.inputItemTitle{
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid var(--c-gray3);
    margin-top: 0.4rem;
}
.inputItemTitle-RowContainer{
    padding-right: 0rem !important;
}

.images_in_List{
    width: 100%;
    height: 100%;
    border-radius:0.25rem;
}

.btn_in_list{
    background-color:var(--bf-theme-background);
}
.btn_in_list:hover{
    background-color:var(--c-gray2);
}

.btn_in_list:hover .icon-cross2{
    color:var(--bf-theme-danger);
}
.btn_in_list:hover .icon-pencil3{
    color:var(--bf-theme-icons);
}

td{
    max-width:204px;
}

#sortSpan{
    transition:0.2s;
}

.redStar{
    color:var(--bf-theme-danger);
}
.labels{
    display:none;
}
.screen{
    width:100% !important;
}
#image .item .main .screens .screen, #image .item .main .screens .screen .change-background{
    max-width:10rem !important;
}
#imageCover .item .main .screens .screen, #imageCover .item .main .screens .screen .change-background{
    max-width:14rem !important;
}
.p-Label{
    font-size:1.3rem;
}